{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1 class="text-center">Listado de Sesiones de Fisioterapia</h1>
<hr>

<div class="row">
    <div class="text-end">
        <a href="nuevaSesion" class="btn btn-info text-right">
            Agregar Sesión
        </a>
    </div>
</div>
<br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="bg-info">
            <th>ID</th>
            <th>FISIOTERAPEUTA</th>            
            <th>AVE</th>
            <th>FECHA</th>
            <th>DESCRIPCIÓN</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for sesion in sesiones %}
            <tr>
                <td>{{ sesion.id }}</td>
                <td>{{ sesion.fisioterapeuta.nombre }}</td>
                <td>{{ sesion.ave.nombre }}</td>
                <td>{{ sesion.fecha_sesion }}</td>
                <td>{{ sesion.descripcion }}</td>
                <td>
                    <a href="editarSesion/{{ sesion.id }}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" 
                        data-id="{{ sesion.id }}" 
                        class="btn btn-outline-danger btnEliminar">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botonesEliminar = document.querySelectorAll('.btnEliminar');

        botonesEliminar.forEach(boton => {
            boton.addEventListener('click', function (e) {
                e.preventDefault();
                const id = this.getAttribute('data-id');

                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¡No podrás revertir esto!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/eliminarSesion/${id}`;
                    }
                });
            });
        });
    });
</script>
<br><br><br><br><br><br>
{% endblock %}
