{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nueva Ave de Presa</h1>
        <form action="/guardarAve" method="post">
            {% csrf_token %}
            
            <label for="nombre">Nombre:</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre" required> <br> <br>
            
            <label for="especie">Especie:</label><br>
            <input class="form-control" type="text" name="especie" id="especie" required> <br> <br>
            
            <label for="fecha_ingreso">Fecha de Ingreso:</label><br>
            <input class="form-control" type="date" name="fecha_ingreso" id="fecha_ingreso" required> <br> <br>
            
            <label for="observaciones">Observaciones:</label><br>
            <textarea class="form-control" name="observaciones" id="observaciones" rows="5"></textarea> <br> <br>
            
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="/aves">Cancelar</a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
