<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Clinica de Aves</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@700;800&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>Clinica de Aves</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Empleados</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aves">Aves</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sesiones">Sesion</a></li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container py-4">
        {% block contenido %}
        {% endblock %}
    </div>

    <div class="row bg-info text-white text-center p-4">
        <div class="col-md-4">
            <img height="100px" src="https://repositorio.uce.edu.ec/archivos/dsaltamirano/Bolsa_de_empleo/bolsa-de-empleo_0.jpg" alt="">
        </div>
        <div class="col-md-4">
            <h4><b>Desarrollado por:</b></h4>
            <h5>Javier Pilco</h5>
        </div>
        <div class="col-md-4">
            <h1>Latacunga 2025</h1>
        </div>
    </div>

    {% if messages %}
        {% for mensaje in messages %}
        <script>
            Swal.fire({
                title: "CONFIRMACIÓN",
                text: "{{ mensaje }}",
                icon: "success"
            });
        </script>
        {% endfor %}
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
